<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Restaurant Admin Panel</title>
</head>
<body>
    <div class="container">
        <h1>Admin Panel - Food Management</h1>
        <!-- Create Form -->
        <form action="/api/foods" method="POST">
            <input type="text" name="name" placeholder="Enter food name" required>
            <input type="text" name="description" placeholder="Enter food description" required>
            <input type="text" name="imageUrl" placeholder="Enter image URL" required>
            <input type="number" name="price" placeholder="Enter food price" required>
            <input type="text" name="category_id" placeholder="Enter food category" required>
            <button type="submit" class="create">Create Food</button>
        </form>
    </div>

    <div class="food-list">
        <% foods.forEach((food) => { %>
            <div class="food-item">
                <p class="category"><%= food.category %></p>
                <img src="<%= food.imageUrl %>" alt="Food Image">
                <h2><%= food.name %></h2>
                <p class="desc"><%= food.description %></p>
                <p class="price">Price: $<%= food.price %></p>
                <div>
                    <button onclick="openEditModal('<%= food._id %>', '<%= food.name %>', '<%= food.description %>', '<%= food.imageUrl %>', <%= food.price %>, '<%= food.category %>')">Update</button>
                    
                    <form action="/api/foods/delete/<%= food._id %>" method="POST">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="modal" id="editModal">
        <div class="modal-content">
            <h3>Edit Food</h3>
            <form method="POST" id="editForm">
                <input type="hidden" name="id" id="editId">
                <input type="text" name="name" id="editName">
                <input type="text" name="description" id="editDescription">
                <input type="text" name="imageUrl" id="editImage">
                <input type="number" name="price" id="editPrice">
                <input type="text" name="category_id" id="editCategory">
                <button type="submit">Save</button>
                <button type="button" onclick="closeModal()">Cancel</button>
            </form>
        </div>
    </div>

    <script src="/js/admin.js"></script>

</body>
</html>
